<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}Home{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="static/styles/base.css">
  
  </head>

<body>
  <div class="home_button">
    <a id="home" href="/"><h2>HOME</h2></a>
  </div>
  <body>
    <div class="container">		
      <h1 class="green">MEDECINE QUICK FINDER </h1>
      <h2>We show you your prescribed medecine close to you </h2>
    <div class="login-register-box">
        <div>
          <a id="login" href="/login"><h2>LOGIN</h2></a>
        </div>
        <div>
          <a id="signUp" href="/sign-up"><h2>REGISTER</h2></a>
        </div>
    </div>
    <div class="search-box">
        <form>
          <div class="subscribe-form">
            <input type="text" name="Search" placeholder="type here to search" required>
            <input  class="input-style" type="submit" value="Search">
          </div>
        </form>
    </div>
 </body>
 </html>
</body>
</html>