<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PHARMACY_NAME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="static/styles/profile.css">
  <link rel="stylesheet" href="static/styles/profile-base.css">
  
</head>

</body>
  <button><a id="home" href="/"><h2>HOME</h2></a></button>
  <button class="dropdown"><a id="home" href="/"><h2>Logout</h2></a></button>
  {% block content %}

  {% endblock %}
</body>
</html>
